<div class="row my-4">
  <div class="col-md-12">
    <h3>Update Post</h3>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          formControlName="title"
        />
        <div>
          {{ showTitleErrors() }}
        </div>
      </div>
      <div class="mb-3">
        <label for="description">Description</label>
        <textarea
          name=""
          class="form-control"
          formControlName="description"
        ></textarea>
        <div>{{ showDescriptionErrors() }}</div>
      </div>
      <div class="my-3">
        <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Update Post</button>
      </div>
    </form>
  </div>
</div>
