<div class="row">
  <div class="col-md-8">
    <h3>Post List</h3>

    <div>
      <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']" routerLinkActive="router-link-active" >Add Post</a>&nbsp;
      <button class="btn btn-primary" (click)="loadWalks()">Get Walks</button>
    </div>

    <table class="table table-striped" *ngIf="posts | async as PostsData">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>    
      </thead>
      <tbody>
        <tr *ngFor="let post of PostsData">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>
            <a href="" class="btn btn-primary" [routerLink]="['edit', post.id]" routerLinkActive="router-link-active">Update</a>
            &nbsp;
            <button class="btn btn-danger" (click)="onDeletePost(post.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>